* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .header{
    width: 100%;
    height: 30px;
    background-color: rgb(4, 95, 151);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0px;
}
.header img{
    width: 30px;
    height: 30px;   
} */
.sidebar{
    width: 450px;
    height: 100vh;
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%); 
    transition: all 0.9s ease-in-out; 
}
.rafay{
    transform: translateX(0%);
}
.sidebar ul li{
    list-style: none;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid#000;
}
.sidebar ul li:hover{
    background-color: rgb(212, 210, 210);
    color: #000;
}
.backdrop{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(31, 29, 29);
    display: none;
    opacity: .5;
}
.backdrop-open{
    display: block;
}